<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginserv</servlet-name>
        <servlet-class>Controller.loginserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddedWatclistServ</servlet-name>
        <servlet-class>Controller.AddedWatclistServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ButtonSellServ</servlet-name>
        <servlet-class>Controller.ButtonSellServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyShareServ</servlet-name>
        <servlet-class>Controller.BuyShareServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyingShareServ</servlet-name>
        <servlet-class>Controller.BuyingShareServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNameserv</servlet-name>
        <servlet-class>Controller.GetNameserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailServlet</servlet-name>
        <servlet-class>Controller.MailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailUtil</servlet-name>
        <servlet-class>Controller.MailUtil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Regserv</servlet-name>
        <servlet-class>Controller.Regserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBuyShareServ</servlet-name>
        <servlet-class>Controller.SearchBuyShareServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchShareServ</servlet-name>
        <servlet-class>Controller.SearchShareServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellShareServ</servlet-name>
        <servlet-class>Controller.SellShareServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellingShareServ</servlet-name>
        <servlet-class>Controller.SellingShareServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Showshares</servlet-name>
        <servlet-class>Controller.Showshares</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WatchlistAddServ</servlet-name>
        <servlet-class>Controller.WatchlistAddServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buttonbuyshare</servlet-name>
        <servlet-class>Controller.buttonbuyshare</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>companiesleaderboard</servlet-name>
        <servlet-class>Controller.companiesleaderboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>graph</servlet-name>
        <servlet-class>Controller.graph</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>Controller.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WatchlistServ</servlet-name>
        <servlet-class>Controller.WatchlistServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarketWatch</servlet-name>
        <servlet-class>Controller.MarketWatch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyHistoryServ</servlet-name>
        <servlet-class>Controller.MyHistoryServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyShares</servlet-name>
        <servlet-class>Controller.MyShares</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LowCompaniesLeaderBoard</servlet-name>
        <servlet-class>Controller.LowCompaniesLeaderBoard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopInvestor</servlet-name>
        <servlet-class>Controller.TopInvestor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfitLossServ</servlet-name>
        <servlet-class>Controller.ProfitLossServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NasdaqIndicesServ</servlet-name>
        <servlet-class>Controller.NasdaqIndicesServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationServ</servlet-name>
        <servlet-class>Controller.NotificationServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetPointerServ</servlet-name>
        <servlet-class>Controller.SetPointerServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotiServ</servlet-name>
        <servlet-class>Controller.NotiServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServ</servlet-name>
        <servlet-class>Controller.ProfileServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MoreIndicesServ</servlet-name>
        <servlet-class>Controller.MoreIndicesServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveWatchListServ</servlet-name>
        <servlet-class>Controller.RemoveWatchListServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSetServ</servlet-name>
        <servlet-class>Controller.SearchSetServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LowInvestors</servlet-name>
        <servlet-class>Controller.LowInvestors</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginserv</servlet-name>
        <url-pattern>/loginserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddedWatclistServ</servlet-name>
        <url-pattern>/AddedWatclistServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ButtonSellServ</servlet-name>
        <url-pattern>/ButtonSellServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyShareServ</servlet-name>
        <url-pattern>/BuyShareServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyingShareServ</servlet-name>
        <url-pattern>/BuyingShareServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNameserv</servlet-name>
        <url-pattern>/GetNameserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailServlet</servlet-name>
        <url-pattern>/MailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailUtil</servlet-name>
        <url-pattern>/MailUtil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Regserv</servlet-name>
        <url-pattern>/Regserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBuyShareServ</servlet-name>
        <url-pattern>/SearchBuyShareServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchShareServ</servlet-name>
        <url-pattern>/SearchShareServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellShareServ</servlet-name>
        <url-pattern>/SellShareServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellingShareServ</servlet-name>
        <url-pattern>/SellingShareServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Showshares</servlet-name>
        <url-pattern>/Showshares</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WatchlistAddServ</servlet-name>
        <url-pattern>/WatchlistAddServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buttonbuyshare</servlet-name>
        <url-pattern>/buttonbuyshare</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>companiesleaderboard</servlet-name>
        <url-pattern>/companiesleaderboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>graph</servlet-name>
        <url-pattern>/graph</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WatchlistServ</servlet-name>
        <url-pattern>/WatchlistServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarketWatch</servlet-name>
        <url-pattern>/MarketWatch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyHistoryServ</servlet-name>
        <url-pattern>/MyHistoryServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyShares</servlet-name>
        <url-pattern>/MyShares</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LowCompaniesLeaderBoard</servlet-name>
        <url-pattern>/LowCompaniesLeaderBoard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopInvestor</servlet-name>
        <url-pattern>/TopInvestor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfitLossServ</servlet-name>
        <url-pattern>/ProfitLossServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NasdaqIndicesServ</servlet-name>
        <url-pattern>/NasdaqIndicesServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationServ</servlet-name>
        <url-pattern>/NotificationServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetPointerServ</servlet-name>
        <url-pattern>/SetPointerServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotiServ</servlet-name>
        <url-pattern>/NotiServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServ</servlet-name>
        <url-pattern>/ProfileServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MoreIndicesServ</servlet-name>
        <url-pattern>/MoreIndicesServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveWatchListServ</servlet-name>
        <url-pattern>/RemoveWatchListServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSetServ</servlet-name>
        <url-pattern>/SearchSetServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LowInvestors</servlet-name>
        <url-pattern>/LowInvestors</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
